*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body{
    color: rgb(31, 29, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    background-color:rgb(255, 230, 198);
}
.container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}
#button, #select{
    background-color: rgb(255, 248, 238);
    height: 40px;
    width: 280px;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}
#button{
    width: 150px;
    border-radius: 8px;
}

#button:hover{
    background-color: rgb(255, 244, 230);
}

#color-box{
    height: 40px;
    width: 50px;
    border-radius: 5px;
    background-color: rgb(255, 248, 238);
    border: none; 
    cursor: pointer; 
}
.colors-display{
    height: 550px;
    width: 100%;   
}
.colors-display:hover{
    border: 2px solid beige;
}

#main{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    
}

.color-tag{
    margin-top: 530px;
    background-color: rgb(255, 248, 238);
    padding: 20px;
}

.alert {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.alert.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

.close-btn {
    margin-left: 15px;
    color: #aaa;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: white;
}